*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    color: var(--white);
}

:root{
    --main-red: #AB0E0E;
    --second-red: #570606;
    --just-red: #FF4747;
    --white: #FFFFFF;
    --black: #000000;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, .6);
}

::-webkit-scrollbar-track {
    background: #6a2222; 
  }

::-webkit-scrollbar {
    width: 6px; 
    height: 8px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .6); 
    border-radius: 50px;
}

body {
    min-height: 100%;
    padding: .5em;
    background: radial-gradient(50% 50% at 50% 50%, 
        var(--main-red) 0%, 
        var(--second-red) 100%);
}

h1{
    font-weight: lighter;
    margin: .5em;
}

h1 span, h2 span{
    color: var(--just-red);
    font-weight: 600;
}

img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    box-shadow: var(--box-shadow);
}

h2 {
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 1.5em;
}

h3 {
    font-weight: 500;
    font-size: 1em;
    margin: 1em;
}

video{
    border-radius: 10px;
    width: 90%;
    height: auto;
    box-shadow: var(--box-shadow);
}


#name_music{
    font-weight: 700;
    color: var(--just-red);
}

h4  {
    font-weight: lighter;
    color: var(--just-red);
    padding: 2em;
    margin-top: 10%;
}
