*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


:root{
    --main-green: #A3271F;
    --second-green: #660606;
    --white: #FFFFFF;
    --black: #000000;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, .6);
}

::-webkit-scrollbar-track {
    background: var(--main-green); 
  }

::-webkit-scrollbar {
    width: 6px; 
    height: 8px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: var(--second-green); 
    border-radius: 50px;
}

body{
    background-color: var(--main-green);
}

a{
    text-decoration: none;
}
/*
    --main-green: #275516;
    --second-green: #509F33;
*/

.banner{
    background-image: url(../img/anuncio.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 720px;

    color: var(--white);
    padding: 2em;
    text-align: center;
}

/* BTN ZAP ZAP */

.btn-whatsapp {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(27deg, #509F33 45%, #275516 85%);


    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1.5em;

    box-shadow: var(--box-shadow);
}

.btn-whatsapp:hover{
    background: linear-gradient(27deg, #275516 45%, #509F33 85%);
}

.btn-whatsapp a{
    color: var(--white);
    font-size: 2.4em;
}

 /* banner */
 .banner h1 {
    padding: 1em;
    margin-top: 20%;
    font-size: 2em;
    color: var(--second-green);
}

.gothic-font{
    font-family: 'Gloock', cursive;
}

.links, .links a{
    font-size: 1.2em;
    text-align: center;
    color: var(--white);
    padding: .1em;
}

.links {
    padding: 1.3em;
}

.credits{
    font-size: .8em;
    color: var(--white);
    padding: 1em;    
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.credits a {
    color: var(--white);
    margin-left: .2em;
}


.links a:hover{
    color: var(--second-green);
}

.links a:nth-child(2){
    border-right: 1px var(--white) solid;
    margin-right: .2em;
}


/* nav */

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 auto;
}

nav a{
    color: var(--white);
    border-radius: 5px;
    background-color: var(--second-green);
    padding: 1em;
    margin: 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: var(--box-shadow);

    transition: all 2ms linear;
}

nav a:hover{
    background-color: var(--main-green);
}

.content{
    background-color: var(--main-green);
    width: 100%;
    height: auto;  
}

#historia, #disponiveis, #clientes, #galeria, #social-midias{
    padding: 2em;
    color: var(--white);
}

#historia h2, #historia p, #disponiveis h2, #disponiveis p, #clientes h2, #clientes p, #galeria h2{
    margin-bottom: 1em;
}

#historia .carroussel, #disponiveis .carroussel, #clientes .carroussel{
    display: flex;
    overflow-y: overlay;

    padding-bottom: 1em;
}

#historia .carroussel-item, #disponiveis .carroussel-item, #clientes .carroussel-item{
    margin-right: 1.2em;
    border-radius: 5px;
    height: 300px;

    box-shadow: var(--box-shadow);
}

/* CLIENTES */

#clientes h3{
    color: var(--main-green);
    font-size: 1em;
}


#clientes .carroussel-item{
    height: auto;
    border-radius: 15px;
    min-width: 60%;
}

#clientes .card-banner {
    background-color: var(--white);
    text-align: center;
    padding: .5em;
    border-radius: 15px 15px 0px 0px;
}

#clientes .costumer{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#clientes .card-phrase{
    background-color: var(--second-green);
    color: var(--white);
    text-align: center;
    padding: .7em;
    font-size: .9em;

    border-radius: 0px 0px 15px 15px;
}

/* GALERIA */

#galeria .photos{
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#galeria .photos img, #galeria .photos video{
    margin: .3em;
    border-radius: 10px;
    box-shadow: var(--box-shadow)
}

#galeria .photos .row-2{
    width: 45%;
}

#galeria .photos .row-4{
    width: 90%;
}

/* REDES SOCIAIS */

#social-midias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#social-midias .icons{
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    border-right: #ffffff 3px solid;
    margin: 5%;
    padding-right: 1em;
}

#social-midias .icons .fab {
    margin-bottom: 0.5em;
}


/* SMARTPHONES */
@media only screen and (max-width: 600px) {
    

    .container{
        max-width: 480px;
        margin: 0 auto;
        height: 100%;
    }


   

    /* nav */
    nav a{
        width: 25%;
        font-size: .7em
    }
    
}

/* TABLETS */
@media only screen and (min-width: 600px) and (max-width: 768px){
    
    nav a{
       width: 30%;
    }
    
    #clientes .carroussel-item {
        min-width: 40%;
    }

    .container {
        max-width: 620px;
        margin: 0 auto;
    }

    #galeria .photos .row-2 {
        width: 35%;
    }

    #galeria .photos .row-4 {
        width: 75%;
    }

    #social-midias p{
        font-size: 1.5em;
    }
}

/* DESKTOP */
@media only screen and (min-width: 768px) and (max-width: 992px){
    nav a{
        width: 30%;
    }

    .banner h1 {
        font-size: 2.5em;
    }
    
    .banner p, .banner .links{
        font-size: 2em;
    }

    #historia, #disponiveis {
        display: flex;
    }

    #historia .text, #disponiveis .text{
        width: 70%;
        padding: 1em;
    }

    #historia .carroussel, #disponiveis .carroussel{
        flex-direction: column;
        height: 320px;
        margin-top: 5em;
    }

    #disponiveis .carroussel{
        height: 220px;
    }

    #historia .carroussel-item, #disponiveis .carroussel-item{
        margin-bottom: 1em;
    }

    #clientes .carroussel-item {
        min-width: 35%;
    }

    #galeria .photos .row-2 {
        width: 35%;
    }

    #galeria .photos .row-4 {
        width: 75%;
    }
    
    .container {
        max-width: 820px;
        margin: 0 auto;
    }

    #social-midias p{
        font-size: 1.5em;
    }

}

@media only screen and (min-width: 962px){
    nav a{
        width: 100%;
        flex-direction: column;
    }

    nav{
        flex-wrap: nowrap;
    }

    .banner h1 {
        font-size: 2.5em;
    }
    
    .banner p, .banner .links{
        font-size: 2em;
    }

    #historia, #disponiveis {
        display: flex;
    }

    #historia .text, #disponiveis .text{
        width: 70%;
        padding: 1em;
    }

    #historia .carroussel, #disponiveis .carroussel{
        flex-direction: column;
        height: 320px;
        margin-top: 5em;
    }

    #disponiveis .carroussel{
        height: 220px;
    }

    #historia .carroussel-item, #disponiveis .carroussel-item{
        margin-bottom: 1em;
    }

    #clientes .carroussel-item {
        min-width: 35%;
    }

    #galeria .photos .row-2 {
        width: 35%;
    }

    #galeria .photos .row-4 {
        width: 70%;
    }
    
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    #social-midias p{
        font-size: 1.5em;
    }

}