*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


:root{
    --main-color: #3e3333;
    --second-color: #d3caca;
    --white: #FFFFFF;
    --black: #000000;
    --box-shadow: 0px 4px 8px rgba(0, 0, 0, .6);
}

::-webkit-scrollbar-track {
    background: var(--main-color); 
  }

::-webkit-scrollbar {
    width: 6px; 
    height: 8px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: var(--second-color); 
    border-radius: 50px;
}

body{
    background-color: var(--main-color);
}

a{
    text-decoration: none;
}
/*
    --main-color: #275516;
    --second-color: #509F33;
*/

.banner{
    background-image: url(../img/anuncio.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 720px;

    color: var(--white);
    padding: 2em;
    text-align: center;
}

/* BTN ZAP ZAP */

.btn-whatsapp {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(27deg, #509F33 45%, #275516 85%);


    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1.5em;

    box-shadow: var(--box-shadow);
}

.btn-whatsapp:hover{
    background: linear-gradient(27deg, #275516 45%, #509F33 85%);
}

.btn-whatsapp a{
    color: var(--white);
    font-size: 2.4em;
}

 /* banner */
 .banner h1 {
    padding: 1em;
    margin-top: 20%;
    font-size: 2em;
    color: var(--white);
}

.gothic-font{
    font-family: 'Gloock', cursive;
    letter-spacing: .1em;
}

.links, .links a{
    font-size: 1.2em;
    text-align: center;
    color: var(--white);
    padding: .1em;
}

.links {
    padding: 1.3em;
}

.credits{
    font-size: .8em;
    color: var(--white);
    padding: 1em;    
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.credits a {
    color: var(--white);
    margin-left: .2em;
}


.links a:hover{
    color: var(--second-color);
}

.links a:nth-child(2){
    border-right: 1px var(--white) solid;
    margin-right: .2em;
}


/* nav */

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 auto;
}

nav a{
    color: var(--main-color);
    border-radius: 5px;
    background-color: var(--second-color);
    padding: 1em;
    margin: 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: var(--box-shadow);

    transition: all 2ms linear;
}

nav a:hover{
    background-color: var(--main-color);
    color: var(--white);
}

.content{
    background-color: var(--main-color);
    width: 100%;
    height: auto;  
}

#historia, #disponiveis, #clientes, #galeria, #social-midias, #disclaimer{
    padding: 2em;
    color: var(--white);
}

#historia h2, #historia p, #disponiveis h2, #disponiveis p, #clientes h2, #clientes p, #galeria h2{
    margin-bottom: 1em;
}

#historia .carroussel, #disponiveis .carroussel, #clientes .carroussel{
    display: flex;
    overflow-y: overlay;

    
    padding-bottom: 1em;
}


#historia .carroussel-item, #disponiveis .carroussel, #clientes .carroussel-item{
    margin-right: 1.2em;
    border-radius: 5px;
    height: 300px;

    box-shadow: var(--box-shadow);
}

#disponiveis .carroussel-disponiveis{
    background-color: var(--white);
    color: var(--main-color);
    border-radius: 10px;
    margin-right: 1.2em;
    box-shadow: var(--box-shadow);
}

#disponiveis .carroussel-scroll{
    display: flex;
    overflow-y: overlay;
    width: 100%;
    padding-bottom: 1em;
}

#disponiveis .carroussel-disponiveis .texts-paint{
    padding: 1em;
}

#disponiveis .carroussel-disponiveis .banner-paint{
    width: 300px;
    height: 300px;

    background-size: cover;
}

#disponiveis .carroussel-disponiveis .cta_disp{
    background-color: var(--main-color);
    color: var(--white);
    margin: 0 auto;
    width: 60%;
    margin-bottom: 0.5em;
    border-radius: 5px;
    padding: 0.4em;
    text-align: center;
    display: block;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all .5s;
}

#disponiveis .carroussel-disponiveis .cta_disp:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}


/* CLIENTES */

#clientes h3{
    color: var(--main-color);
    font-size: 1em;
}


#clientes .carroussel-item{
    height: auto;
    border-radius: 15px;
    min-width: 90%;
    background-color: var(--second-color);
    padding-bottom: 1em;
}

#clientes .card-banner {
    background-color: var(--white);
    text-align: center;
    padding: .5em;
    border-radius: 10px 10px 0px 0px;

}

#clientes .costumer{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: var(--box-shadow);
}

#clientes .card-phrase{
    background-color: var(--second-color);
    color: var(--black);
    text-align: center;
    padding: .7em;
    font-size: .9em;
}

/* GALERIA */

#galeria .photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
}

#galeria .photos img, #galeria .photos video{
    margin: .3em;
    border-radius: 10px;
    box-shadow: var(--box-shadow)
}

#galeria .photos .row-2{
    width: 45%;
    background-size: cover;
}

#galeria .photos .row-4{
    width: 90%;

    background-size: cover;
}

/* DISCLAIMER */

#disclaimer{
    
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: var(--main-color);
}

#disclaimer i{
    font-size: 1.3em;
}

#disclaimer div{
    margin-bottom: 1.5em;
    background-color: var(--second-color);
    border-radius: 10px;
    width: 100%;
    padding: 1em;
    box-shadow: var(--box-shadow);
}

/* REDES SOCIAIS */

#social-midias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#social-midias .icons{
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    border-right: #ffffff 3px solid;
    margin: 5%;
    padding-right: 1em;
}

#social-midias .icons .fab {
    margin-bottom: 0.5em;
}


.img_footer{
    margin: 0 auto;
}

/* SMARTPHONES */
@media only screen and (max-width: 600px) {
    

    .container{
        max-width: 480px;
        margin: 0 auto;
        height: 100%;
    }

    #disponiveis .carroussel-disponiveis{
        min-width: 70%;
    }   

    /* nav */
    nav a{
        width: 25%;
        font-size: .7em
    }
    
}

/* TABLETS */
@media only screen and (min-width: 600px) and (max-width: 768px){
    
    nav a{
       width: 30%;
    }

    #historia .carroussel {
        display: flex;
    }
    
    

    .container {
        max-width: 620px;
        margin: 0 auto;
    }

    #galeria .photos .row-2 {
        width: 35%;
    }

    #galeria .photos .row-4 {
        width: 75%;
    }

    #social-midias p{
        font-size: 1.5em;
    }

    #disponiveis .carroussel-scroll{
        display: flex;
        overflow-y: overlay;
        
        padding-bottom: 1em;
    }

    #disponiveis .carroussel-disponiveis{
        min-width: 52%;
    }
    
    #disponiveis .carroussel-disponiveis .texts-paint{
        padding: 1em;
    }
    
    #disponiveis .carroussel-disponiveis .banner-paint{
        width: 300px;
        height: 300px;
    
        background-size: cover;
    }
}

/* DESKTOP */
@media only screen and (min-width: 768px) and (max-width: 992px){
    nav a{
        width: 30%;
    }

    #historia .carroussel {
        display: none;
    }

    .banner h1 {
        font-size: 2.5em;
    }
    
    .banner p, .banner .links{
        font-size: 2em;
    }

    #historia {
        display: flex;
    }

    #historia .text{
        width: 100%;
    }

   

    #historia .carroussel, #disponiveis .carroussel{
        flex-direction: column;
        height: 320px;
        margin-top: 5em;
    }

    #disponiveis .carroussel-disponiveis {
        min-width: 40%;
    }



    #disponiveis .carroussel{
        display: none;
    }

    #historia .carroussel-item, #disponiveis .carroussel-item{
        margin-bottom: 1em;
    }

    #galeria .photos .row-2 {
        width: 35%;
    }

    #galeria .photos .row-4 {
        width: 75%;
    }
    
    .container {
        max-width: 820px;
        margin: 0 auto;
    }

    #social-midias p{
        font-size: 1.5em;
    }

}

@media only screen and (min-width: 962px){
    nav a{
        width: 100%;
        flex-direction: column;
    }

    nav{
        flex-wrap: nowrap;
    }

    .banner h1 {
        font-size: 2.5em;
    }
    
    .banner p, .banner .links{
        font-size: 2em;
    }

    #historia .carroussel {
        display: none;
    }

    #historia {
        display: flex;
    }


    #historia .carroussel, #disponiveis .carroussel{
        flex-direction: column;
        height: 320px;
        margin-top: 5em;
    }

    #disponiveis .carroussel{
        height: 220px;
    }

    #disponiveis .carroussel-disponiveis{
        min-width: 300px;
    }

    #historia .carroussel-item, #disponiveis .carroussel-item{
        margin-bottom: 1em;
    }

    #galeria .photos .row-2 {
        width: 35%;
    }

    #galeria .photos .row-4 {
        width: 70%;
    }
    
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    #social-midias p{
        font-size: 1.5em;
    }
}


img{
	max-width:100%;
	height:auto;
}
